.about {
  padding-top: 72px;
  padding-right: 0;
  padding-bottom: 82px;
  padding-left: 0;
}

.about__link {
  display: none;

  color: $basic-white;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
