.about {
  position: relative;
  z-index: 40;

  padding-top: 31px;
  padding-right: 0;
  padding-bottom: 82px;
  padding-left: 0;

  background-image: url("../../img/about-back-mobile.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: $basic-dark;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/about-back-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    padding-top: 37px;
    padding-bottom: 89px;

    background-image: url("../../img/about-back-tablet.png");
    background-size: 100%;
    background-position-x: 40px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/about-back-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 70px;
    padding-bottom: 0;

    background-image: none;
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
  }
}

.about__wrapper {
  padding-top: 0;
  padding-right: 35px;
  padding-bottom: 0;
  padding-left: 24px;

  @media (min-width: $tablet-width) {
    padding-left: 34px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 58px;
    padding-bottom: 163px;
    padding-left: 70px;

    background-image: url("../../img/about-back-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/about-back-desktop@2x.png");
    }
  }
}

.about__title {
  margin-top: 0;
  margin-bottom: 20px;

  @include font-group-bold($size-24, $line-24);
  color: $dark-invert-color;

  @media (min-width: $tablet-width) {
    margin-bottom: 42px;

    @include font-group-small($size-45, $line-45);
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 58px;
  }
}

.about__title-text {
  display: block;
  width: 100%;
}

.about__lead {
  margin-top: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 302px;
    margin-bottom: 31px;

    @include font-group-small($size-28, $line-33);
  }

  @media (min-width: $desktop-width) {
    width: 620px;
    margin-bottom: 39px;

    line-height: 34px;
  }
}

.about__text {
  margin: 0;

  font-weight: bold;

  @include font-group-bold($size-16, $line-22);

  @media (min-width: $tablet-width) {
    width: 265px;
    margin-bottom: 54px;

    @include font-group-small($size-21, $line-25);
  }

  @media (min-width: $desktop-width) {
    width: 425px;
    margin-bottom: 86px;

    line-height: 24px;
  }
}

.about__link {
  position: relative;

  display: none;

  color: $basic-white;

  @media (min-width: $tablet-width) {
    display: block;
    width: 276px;
    padding-top: 27px;
    padding-bottom: 29px;
    padding-left: 33px;

    @include font-group-bold($size-24, $line-24);
    color: $special-dark-color;

    background-color: $light-invert-color;
    border-radius: 20px;

    &::before {
      content: "";
      position: absolute;

      top: 33px;
      right: 33px;

      display: block;
      width: 14px;
      height: 14px;

      background-image: url("../../img/icons/icon_arrow-right.svg");
      background-repeat: no-repeat;
    }

    &:hover {
      background-color: $invert-color;
    }

    &:active {
      color: $special-dark-color-fade;
    }

    &:active::before {
      background-image: url("../../img/icons/icon-arrow-right-active.svg");
    }
  }

  @media (min-width: $desktop-width) {
    width: 274px;
    margin-left: 1px;

    &::before {
      right: 32px;
    }
  }
}
