.calendar-table {
  position: relative;

  width: 100%;
  margin-bottom: 22px;

  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 57px;
  }
}

.calendar-table__cell {
  width: 14.29%;
  height: 31px;
  text-align: center;

  @include font-group($size-14, $line-18);
  font-weight: 400;
  color: $basic-text-color-fade;

  border: 1px solid $form-calendar-border;

  &--title {
    height: 35px;

    color: $basic-text-color;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;

    &-weekend {
      color: $contrast-color;
    }
  }

  &--current {
    font-weight: bold;
    color: $basic-white;

    background-color: $special-dark-color;

    &-point {
      outline: 2px solid $contrast-color;
      outline-offset: -1px;
    }
  }

  &--future {
    color: $special-dark-color;
    font-weight: 500;

    background-color: $body-background;
  }

  &:hover {
    font-weight: bold;
    color: $basic-white;

    background-color: $special-dark-color;
    outline: 2px solid $contrast-color;
    outline-offset: -1px;
    cursor: pointer;
  }

  &:active {
    border: none;
  }

  @media (min-width: $tablet-width) {
    height: 69px;

    font-size: 18px;

    &--title {
      height: 40px;
    }
  }

  @media (min-width: $desktop-width) {
    height: 71px;
    text-align: left;
    vertical-align: baseline;
    padding-top: 12px;
    padding-left: 14px;

    &--title {
      height: 55px;
      padding-top: 16px;
    }
  }
}

.calendar-table__note-month,
.calendar-table__note-period {
  display: none;
}

.calendar-table__note-month {
  @media (min-width: $desktop-width) {
    display: inline;
    margin-left: 1px;
  }
}

.calendar-table__note-period {
  @media (min-width: $desktop-width) {
    display: block;
    margin-top: 8px;
  }
}
