.container {
  position: relative;

  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0;
  padding-right: 25px;
  padding-bottom: 0;
  padding-left: 25px;

  @media (min-width: $tablet-width) {
    padding-right: 40px;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 60px;
    padding-left: 60px;
  }
}

.container--modal {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: min-content 1fr min-content;

    width: 100%;
  }
}

.container--countries {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 123px;

  @media (min-width: $tablet-width) {
    padding-top: 130px;
    padding-bottom: 162px;

    background-image: url("../../img/flags-background.png");
    background-repeat: no-repeat;
    background-position: top 140px right 40px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row-reverse;
    padding-top: 148px;
    padding-bottom: 84px;

    background-position: top 148px right 60px;
  }
}

.container--travelers {
  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-right: 74px;
    padding-bottom: 0;
    padding-left: 74px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-right: 60px;
    padding-left: 60px;
  }
}

.container--feedback {
  @media (min-width: $tablet-width) {
    padding-right: 76px;
    padding-left: 76px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 133px;
    padding-left: 133px;
  }
}

.container--map-block {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding-right: 75px;
    padding-left: 75px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 135px;
    padding-left: 285px;
  }
}

.container--footer {
  display: grid;
  width: 100%;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.container--title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 12px;

  color: $basic-white;

  @media (min-width: $tablet-width) {
    padding-right: 74px;
    padding-left: 74px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 126px;
    padding-left: 126px;
  }
}

.container--plans {
  @media (min-width: $tablet-width) {
    padding-right: 75px;
    padding-left: 75px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 124px;
  }
}

.container--add-plan {
  @media (min-width: $tablet-width) {
    padding-right: 75px;
    padding-left: 75px;
  }
}
