.filter-country {
  position: relative;
  z-index: 8;

  margin-top: -20px;

  @media (min-width: $tablet-width) {
    margin-top: -58px;
  }
}

.filter-country__form {
  position: relative;
}

.filter-country__choice {
  padding-top: 42px;
  padding-right: 0;
  padding-bottom: 15px;
  padding-left: 0;

  background-color: $special-light-light-color;

  @media (min-width: $tablet-width) {
    padding-top: 121px;
    padding-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 120px;
    padding-bottom: 150px;

    background-color: transparent;
  }
}

.filter-country__title {
  display: flex;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.filter-country__letters {
  padding-right: 26px;
  padding-left: 25px;
}

.filter-country__continent-list {
  display: none;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }
}
