.filter-country {
  position: relative;
  z-index: 8;

  margin-top: -20px;

  @media (min-width: $tablet-width) {
    margin-top: -58px;
  }
}

.filter-country__form {
  position: relative;
}

.filter-country__choice {
  position: relative;

  margin-bottom: 22px;
  padding-top: 41px;
  padding-right: 0;
  padding-bottom: 15px;
  padding-left: 0;

  background-color: $special-light-light-color;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 121px;
    padding-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 120px;
    padding-bottom: 150px;

    background-color: transparent;
  }
}

.filter-country__title {
  width: 200px;
  margin-left: 27px;

  @include font-group-bold($size-16, $line-18);
  color: $basic-dark;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;

    top: 4px;
    left: 25px;

    width: 15px;
    height: 10px;

    background-image: url("../../img/icons/icon_filter-image-mobile.svg");
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.filter-country__toggle {
  width: 17px;
  height: 17px;
  margin-right: 4px;

  background-image: url("../../img/icons/icon_filter-toggle-mobile.svg");
  background-repeat: no-repeat;
  background-position: right;

  &:hover {
    background-image: url("../../img/icons/icon_filter-toggle-mobile-hover.svg");
    cursor: pointer;
  }

  &:active {
    background-image: url("../../img/icons/icon_filter-toggle-mobile-active.svg");
  }

  @media (min-width: $tablet-width) {
    position: relative;
    width: 185px;
    height: 17px;

    @include font-group-bold($size-20, $line-20);
    color: $basic-dark;
    text-transform: uppercase;

    background-image: url("../../img/icons/icon_filter-toggle-tablet.svg");

    &:hover {
      background-image: url("../../img/icons/icon_filter-toggle-tablet-hover.svg");
    }

    &:active {
      background-image: url("../../img/icons/icon_filter-toggle-tablet-active.svg");
    }

    &--click::before {
      content: "Показать все";
      position: absolute;
      top: -2px;
      left: 10px;

      width: 135px;
    }

    &--clicked {
      height: 23px;

      background-image: url("../../img/icons/icon_filter-close.svg");

      &::before {
        content: "Свернуть";
      }
    }
  }
}

.filter-country__letters {
  display: none;
}

.filter-country__button {
  &--hide {
    display: none;
  }
}

.filter-country__continent-list {
  display: none;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }
}
