.filter-country {
  position: relative;
  z-index: 8;

  margin-top: -20px;

  @media (min-width: $tablet-width) {
    margin-top: -58px;
  }
}

.filter-country__form {
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 41px;
  }
}

.filter-country__choice {
  position: relative;

  margin-bottom: 22px;
  padding-top: 41px;
  padding-right: 0;
  padding-bottom: 15px;
  padding-left: 0;

  background-color: $special-light-light-color;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 43px;
    padding-top: 119px;
    padding-bottom: 78px;

    border-bottom-right-radius: 55px;
    border-bottom-left-radius: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding-top: 118px;
    padding-bottom: 151px;

    background-color: transparent;
  }
}

.filter-country__title {
  position: relative;

  width: 200px;
  margin-left: 27px;

  @include font-group-bold($size-16, $line-18);
  color: $basic-dark;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;

    top: 4px;
    left: -27px;

    width: 15px;
    height: 10px;

    background-image: url("../../img/icons/icon_filter-image-mobile.svg");
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 278px;
    margin-left: 65px;

    @include font-group-small($size-20, $line-20);

    &::before {
      top: 2px;
      left: -45px;

      width: 23px;
      height: 15px;

      background-image: url("../../img/icons/icon_filter-image-desktop.svg");
    }
  }
}

.filter-country__toggle {
  position: absolute;
  top: 0;
  right: 29px;
  z-index: 60;

  display: block;
  width: 17px;
  height: 17px;

  background-image: url("../../img/icons/icon_filter-toggle-mobile.svg");
  background-repeat: no-repeat;
  background-position: right;

  &--nojs {
    display: none;
  }

  &:hover {
    background-image: url("../../img/icons/icon_filter-toggle-mobile-hover.svg");
    cursor: pointer;
  }

  &:active {
    background-image: url("../../img/icons/icon_filter-toggle-mobile-active.svg");
  }

  &--clicked {
    top: -1px;
    right: 30px;

    height: 16px;

    background-image: url("../../img/icons/icon_filter-close-mobile.svg");
    background-position: center;

    &:hover {
      background-image: url("../../img/icons/icon_filter-close-mobile-hover.svg");
    }

    &:active {
      background-image: url("../../img/icons/icon_filter-close-mobile-active.svg");
    }
  }

  @media (min-width: $tablet-width) {
    top: 2px;
    right: 73px;

    width: 185px;
    height: 17px;

    @include font-group-bold($size-20, $line-20);
    color: $basic-dark;
    text-transform: uppercase;

    background-image: url("../../img/icons/icon_filter-toggle-tablet.svg");
    background-position-x: right;

    &:hover {
      background-image: url("../../img/icons/icon_filter-toggle-tablet-hover.svg");

      &::before {
        color: $basic-dark-halffade;
      }
    }

    &:active {
      background-image: url("../../img/icons/icon_filter-toggle-tablet-active.svg");

      &::before {
        color: $basic-dark-fade;
      }
    }

    &::before {
      content: "Показать все";
      position: absolute;
      top: -2px;
      left: 0;
    }

    &--clicked {
      top: 0;

      height: 23px;

      background-image: url("../../img/icons/icon_filter-close.svg");
      background-position-x: top 0 right 4px;

      &::before {
        content: "Свернуть";
        position: absolute;
        top: 1px;
        left: 11px;
      }

      &:hover {
        background-image: url("../../img/icons/icon_filter-close-hover.svg");
      }

      &:active {
        background-image: url("../../img/icons/icon_filter-close-active.svg");
      }
    }
  }
}

.filter-country__letters {
  position: relative;
  z-index: 50;

  height: auto;

  @media (min-width: $desktop-width) {
    margin-top: -20px;
  }
}

.filter-country__continent-list {
  position: absolute;

  display: block;
  width: 100%;
  margin: 0;
  padding-top: 33px;
  padding-bottom: 19px;
  padding-left: 50px;

  @include font-group-bold($size-16, $line-18);
  color: $basic-dark-fade;
  text-transform: uppercase;

  background-color: $special-light-light-color;

  &--nojs {
    position: relative;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    width: calc(100% - 72px);
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 72px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;

    @include font-group-small($size-20, $line-20);
  }

  @media (min-width: $desktop-width) {
    position: relative;
    margin-left: 403px;

    background-color: transparent;
  }
}

.filter-country__continent-list--closed {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.filter-country__continent-item {
  margin-bottom: 9px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &--current {
    color: $basic-dark;
  }

  @media (min-width: $tablet-width) {
    margin-right: 28px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &:hover {
    color: $basic-dark-halffade;
    cursor: pointer;
  }

  &:active {
    color: $basic-dark-fade;
  }

  @media (min-width: $desktop-width) {
    margin-right: 32px;
    margin-bottom: 0;
  }
}

.filter-country__button-hide {
  position: absolute;
  top: 643px;
  z-index: 60;

  display: block;
  width: calc(100% - 50px);
  height: 39px;
  margin-right: 25px;
  margin-left: 25px;

  background-color: $filter-modal-button;
  border-radius: 20px;

  &:hover {
    background-color: $filter-modal-button-active;
    cursor: pointer;
  }

  &--modal {
    display: none;
  }

  @media (min-width: $tablet-width) {
    top: 541px;
    width: calc(100% - 152px);
    height: 100px;
    margin-right: 76px;
    margin-left: 76px;
  }

  @media (min-width: $desktop-width) {
    top: auto;
    bottom: 0;

    width: calc(100% - 120px);
    margin-right: 60px;
    margin-left: 60px;
  }
}

.filter-country__button-hide-text {
  position: relative;
  z-index: 50;

  margin-left: 25px;

  @include font-group-bold($size-16, $line-20);
  color: $basic-dark;
  text-transform: uppercase;
  letter-spacing: 1px;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: -24px;
    z-index: 70;

    width: 14px;
    height: 14px;

    background-image: url("../../img/icons/icon_filter-hide-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: $tablet-width) {
    margin-left: 42px;

    @include font-group-small($size-20, $line-20);
    letter-spacing: 0;

    &::before {
      top: 1px;
      left: -41px;

      width: 22px;
      height: 24px;

      background-image: url("../../img/icons/icon_filter-hide-tablet.svg");
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 36px;

    &::before {
      top: 0;
    }
  }
}

.filter-country__button-hide:active .filter-country__button-hide-text {
  color: $basic-dark-fade;

  &::before {
    background-image: url("../../img/icons/icon_filter-hide-mobile-active.svg");
  }

  @media (min-width: $tablet-width) {
    &::before {
      background-image: url("../../img/icons/icon_filter-hide-tablet-active.svg");
    }
  }
}

.filter-country__button-submit {
  width: calc(100% + 10px);
  height: 41px;
  margin-left: -5px;
  text-align: center;

  @include font-group-bold($size-17, $line-17);
  color: $special-dark-color;
  text-transform: uppercase;

  background-color: $basic-white;
  border-radius: 25px;

  &:hover {
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.14);
  }

  &:active {
    color: $basic-dark-fade;

    background-color: $field-border;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 50px;
    margin-left: 0;

    @include font-group-small($size-20, $line-20);
  }

  @media (min-width: $desktop-width) {
    height: 49px;
  }
}
