.level-range {
  position: relative;

  display: flex;
  flex-direction: row;
  margin-bottom: 24px;

  &::before {
    content: "";
    position: absolute;
    top: 11px;
    left: calc(50% - 8px);
    z-index: 10;

    width: 16px;
    height: 1px;

    background-color: $form-border-color;
    border-top: 5px solid $basic-white;
    border-bottom: 5px solid $basic-white;
    box-sizing: content-box;
  }

  @media (min-width: $tablet-width) {
    width: 148px;
    height: 46px;
    margin-bottom: 0;

    &::before {
      top: 14px;
      left: calc(50% - 10px);

      width: 21px;

      border-width: 8px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.level-range__input {
  position: relative;

  width: 50%;
  text-align: center;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 6px;
  padding-left: 11px;

  @include font-group-medium($size-14, $line-13);
  color: $special-dark-color;
  letter-spacing: 7%;

  background-color: $basic-white;
  border: 1px solid $form-border-color;

  &--min {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &--max {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &:hover {
    border-color: $form-border-color-fade;
    cursor: pointer;
  }

  &:active,
  &:focus {
    border-color: $basic-color;
  }

  @media (min-width: $tablet-width) {
    padding-top: 5px;

    @include font-group-small($size-20, $line-20);
  }
}
