.logo-toggle-modal {
  position: relative;

  display: block;
  width: 25px;
  height: 19px;
  padding: 0;

  border: 0;
  outline: none;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    margin-left: calc(50% - 202px);
  }

  @media (min-width: $desktop-width) {
    display: none;
  }

  &:hover {
    cursor: pointer;
  }

  &::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 0;

    width: 24px;
    height: 2px;

    background-color: $close-button-color;
    border-radius: 1.5px;

    transform: rotate(45deg);

    @media (min-width: $tablet-width) {
      top: 7px;
      width: 27px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 0;

    width: 24px;
    height: 2px;

    background-color: $close-button-color;
    border-radius: 1.5px;

    transform: rotate(-45deg);

    @media (min-width: $tablet-width) {
      top: 7px;
      width: 27px;
    }
  }
}

.logo-toggle-modal--nojs {
  display: none;
}
