.logo {
  position: relative;

  &:focus {
    box-shadow: 0 0 0 2px #192144, 0 0 0 4px #ffffff;
  }

  &--footer {
    display: block;
    width: 96px;
    margin-right: auto;
    margin-bottom: 34px;
    margin-left: auto;
  }

  &--noscroll {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin-right: 22px;

    &--footer {
      width: 166px;
      margin-top: 10px;
      margin-right: 0;
      margin-bottom: 0;
      margin-left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &--footer {
      width: 200px;
      margin-top: 5px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 240px;
      top: -8px;

      display: block;
      width: 60px;
      height: 2px;

      background-color: $basic-white;
    }
  }
}
