.logo {
  @media (min-width: $tablet-width) {
    margin-right: 22px;
  }

  @media (min-width: $desktop-width) {
  }

  &::before {
    @media (min-width: $desktop-width) {
      content: "";
      position: absolute;
      left: 240px;
      top: 27px;

      display: block;
      width: 60px;
      height: 2px;

      background-color: $basic-white;
    }
  }
}

.logo-image {
  position: relative;

  width: 96px;
  height: 15px;
  margin-top: 5px;

  @media (min-width: $tablet-width) {
    width: 166px;
    height: 42px;
  }

  @media (min-width: $desktop-width) {
    width: 200px;
    height: 50px;
    margin-top: 0;
  }
}

.logo__toggle,
.logo__toggle-modal {
  position: relative;

  width: 25px;
  height: 19px;

  @media (min-width: $tablet-width) {
    margin-left: calc(50% - 202px);
  }

  @media (min-width: $desktop-width) {
    display: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.logo__toggle::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;

  width: 25px;
  height: 3px;

  background-color: $basic-white;
  border-radius: 1.5px;
  box-shadow: 0 8px 0 0 $basic-white;
}

.logo__toggle-modal::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;

  width: 24px;
  height: 2px;

  background-color: $close-button-color;
  border-radius: 1.5px;

  transform: rotate(45deg);

  @media (min-width: $tablet-width) {
    top: 7px;
    width: 27px;
  }
}

.logo__toggle-modal::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;

  width: 24px;
  height: 2px;

  background-color: $close-button-color;
  border-radius: 1.5px;

  transform: rotate(-45deg);

  @media (min-width: $tablet-width) {
    top: 7px;
    width: 27px;
  }
}
