.logo-modal-scroll {
  position: relative;

  &--hide {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin-right: 22px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 35px;

    &::before {
      content: "";
      position: absolute;
      left: 240px;
      top: 27px;

      display: block;
      width: 60px;
      height: 2px;

      background-color: $basic-dark;
    }

    &--hide {
      display: none;
    }
  }
}
