.logo-wrapper {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  &--modal {
    margin-bottom: 67px;
  }

  &--non-modal {
    padding-top: 14px;
  }

  &--nojs {
    display: none;
  }

  &--scroll {
    padding-top: 23px;
  }

  @media (min-width: $tablet-width) {
    &--modal {
      justify-content: flex-start;
      margin-right: 22px;
      margin-bottom: 88px;
    }

    &--non-modal {
      padding-top: 0;
    }

    &--scroll {
      padding-top: 0;
    }
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: auto;

    &--modal {
      justify-content: space-between;
      margin-top: 1px;
      margin-right: 123px;
      margin-bottom: 0;
    }

    &--non-modal {
      display: none;
    }
  }
}
