.modal-menu {
  position: absolute;
  top: 0;
  z-index: 5;

  display: none;
  min-width: 100%;
  padding-top: 25px;

  color: $basic-text-color;

  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
  }

  @media (min-width: $desktop-width) {
    position: relative;

    display: block;
    flex-direction: row;
    padding-top: 46px;
    padding-bottom: 9px;

    background-color: transparent;
  }
}

.modal-menu--nojs {
  position: relative;

  display: block;
}

.modal-menu--opened {
  display: block;
}

.modal-menu__contacts {
  position: relative;

  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  align-items: center;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.modal-menu__contacts-link-signin {
  display: block;
  margin-bottom: 66px;
  padding-top: 12px;
  padding-right: 81px;
  padding-bottom: 8px;
  padding-left: 78px;

  @include font-group-bold($size-17, $line-30);
  text-transform: uppercase;
  color: $basic-color;

  background-color: $light-invert-color;
  border-radius: 25px;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    height: 50px;
    margin-top: 2px;
    margin-bottom: 0;
    padding-top: 15px;
    padding-right: 28px;
    padding-left: 29px;
    text-align: center;

    @include font-group-small($size-20, $line-20);
  }

  &:hover {
    background-color: $invert-color;
    cursor: pointer;
  }

  &:active {
    color: $basic-color-fade;
  }
}

.modal-menu__contacts-link-signin--double {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-right: 0;
    margin-left: auto;
    padding-top: 14px;
    padding-right: 28px;
    padding-bottom: 16px;
    padding-left: 29px;

    @include font-group-bold($size-20, $line-20);
    text-transform: uppercase;
    color: $basic-color;

    background-color: $light-invert-color;
    border-radius: 25px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }

  &:hover {
    background-color: $invert-color;
    cursor: pointer;
  }

  &:active {
    color: $basic-color-fade;
  }
}

.modal-menu__nav-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 53px;
  padding: 0;

  @include font-group-medium($size-30, $line-35);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    text-align: left;
    margin-bottom: 155px;
    padding-left: 57px;

    @include font-group-small($size-60, $line-71);
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    margin-bottom: 0;
    padding-top: 19px;
    padding-left: 0;

    @include font-group-small($size-20, $line-20);
  }
}

.modal-menu__nav-item {
  @media (min-width: $desktop-width) {
    margin-right: 34px;
  }
}

.modal-menu__nav-link {
  color: $basic-dark;

  &:hover,
  &:visited {
    color: $basic-dark;
  }

  &:active {
    color: $basic-dark-fade;
  }

  @media (min-width: $desktop-width) {
    color: $basic-white;

    &:visited {
      color: $basic-white;
    }

    &:hover {
      color: $light-invert-color;
    }

    &:active {
      color: $light-invert-color-fade;
    }
  }
}

.modal-menu__contacts-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    margin-top: 2px;
  }
}

.modal-menu__contacts-link {
  position: relative;

  display: block;
  margin-left: 61px;
  margin-bottom: 27px;

  @include font-group-bold($size-16, $line-18);
  text-transform: uppercase;
  color: $basic-dark;

  @media (min-width: $tablet-width) {
    margin-left: 148px;
    margin-bottom: 38px;

    @include font-group-small($size-28, $line-28);
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.modal-menu__contacts-link--phone {
  &::before {
    content: "";
    position: absolute;
    top: -13px;
    left: -61px;

    width: 45px;
    height: 45px;

    background-color: $icon-color;
    background-image: url("../../img/icons/icon_call-invert.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      top: -23px;
      left: -91px;

      width: 68px;
      height: 68px;

      background-image: url("../../img/icons/icon_call-invert-tablet.svg");
    }

    @media (min-width: $desktop-width) {
      top: 0;
      left: -100px;

      width: 50px;
      height: 50px;

      background-color: $dark-invert-color;
      background-image: url("../../img/icons/icon_call.svg");
    }
  }

  &:hover,
  &:visited {
    color: $basic-dark;
  }

  &:hover::before {
    cursor: pointer;

    @media (min-width: $desktop-width) {
      background-color: $extra-dark-invert-color;
    }
  }

  &:active {
    color: $basic-dark-fade;
  }

  &:active::before {
    background-color: $basic-dark-fade;

    @media (min-width: $desktop-width) {
      background-color: $extra-dark-invert-color;
      background-image: url("../../img/icons/icon_call-active.svg");
    }
  }
}

.modal-menu__contacts-link--email {
  margin-bottom: 53px;

  @media (min-width: $tablet-width) {
    margin-bottom: 149px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: -13px;
    left: -61px;

    width: 45px;
    height: 45px;

    background-color: $icon-color;
    background-image: url("../../img/icons/icon_mail-invert.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      top: -21px;
      left: -91px;

      width: 68px;
      height: 68px;

      background-image: url("../../img/icons/icon_mail-invert-tablet.svg");
    }

    @media (min-width: $desktop-width) {
      top: 0;
      left: -50px;

      width: 50px;
      height: 50px;

      background-color: $invert-color;
      background-image: url("../../img/icons/icon_mail.svg");
    }
  }

  &:hover,
  &:visited {
    color: $basic-dark;
  }

  &:hover::before {
    cursor: pointer;

    @media (min-width: $desktop-width) {
      background-color: $dark-invert-color;
    }
  }

  &:active {
    color: $basic-dark-fade;
  }

  &:active::before {
    background-color: $basic-dark-fade;

    @media (min-width: $desktop-width) {
      background-color: $dark-invert-color;
      background-image: url("../../img/icons/icon_mail-active.svg");
    }
  }
}

.modal-menu__contacts-link-text {
  position: relative;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.modal-menu__social {
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 84px;
  }
}

.modal-menu__social .social__item {
  margin-right: 27px;

  @media (min-width: $tablet-width) {
    margin-right: 28px;
  }
}

.modal-menu__social .social__item:last-child {
  margin-right: 0;
}
