.page-header {
  position: relative;
  z-index: 200;

  margin: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 52px;
  padding-left: 0;

  color: $basic-white;

  background-color: $basic-color;

  &--form,
  &--catalog {
    background-color: $alt-background;
  }

  &--nojs {
    padding-bottom: 0;
  }

  &--catalog {
    padding-bottom: 53px;
  }

  &--scroll {
    position: fixed;
    top: 0;

    width: 100%;
    padding-bottom: 24px;

    background-color: $basic-white;
  }

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    padding-bottom: 65px;

    &--nojs {
      padding-top: 0;
    }

    &--catalog {
      padding-bottom: 126px;
    }

    &--scroll {
      padding-bottom: 39px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 0;

    &--scroll {
      position: relative;
      padding-top: 0;
      padding-bottom: 0;
    }

    &--catalog {
      padding-bottom: 24px;
    }
  }
}

.page-header__contacts {
  position: absolute;
  top: 457px;

  margin-left: calc(50% - 135px);

  &--scroll {
    display: none;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    top: 0;

    margin-left: calc(50% - 175px);

    &--scroll {
      display: block;
    }
  }
}

.page-header__contacts-link {
  position: relative;
  display: block;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__contacts-link-phone {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 40px;
    height: 40px;

    background-color: $dark-invert-color;
    background-image: url("../../img/icons/icon_call.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &:hover::before {
    background-color: $extra-dark-invert-color;
    cursor: pointer;
  }

  &:active::before {
    background-image: url("../../img/icons/icon_call-active.svg");
  }
}

.page-header__contacts-link-email {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 40px;

    width: 40px;
    height: 40px;

    background-color: $invert-color;
    background-image: url("../../img/icons/icon_mail.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &:hover::before {
    background-color: $dark-invert-color;
    cursor: pointer;
  }

  &:active::before {
    background-image: url("../../img/icons/icon_mail-active.svg");
  }
}

.page-header__contacts-link-signin {
  display: inline-block;
  vertical-align: middle;
  margin-left: 80px;
  padding-top: 10px;
  padding-right: 39px;
  padding-bottom: 10px;
  padding-left: 40px;

  @include font-group-bold($size-17, $line-20);
  text-transform: uppercase;
  color: $basic-color;

  background-color: $light-invert-color;
  border-radius: 25px;

  @media (min-width: $tablet-width) {
    margin-top: -3px;
    margin-right: 1px;
    margin-left: 0;
    padding-top: 14px;
    padding-right: 28px;
    padding-bottom: 16px;
    padding-left: 30px;

    font-size: 20px;
  }

  &:hover {
    background-color: $invert-color;
    cursor: pointer;
  }

  &:active {
    color: $basic-color-fade;
  }
}

.page-header__contacts-link-signin--form {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
