.page-form {
  position: relative;
  z-index: 1;

  color: $basic-color;
}

.page-form__title-wrapper {
  position: relative;
  z-index: 100;

  width: 100%;
  height: auto;

  background-color: $alt-background;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 62px;
    padding-bottom: 55px;

    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 0;

    border-bottom-right-radius: 56px;
    border-bottom-left-radius: 56px;
  }
}


.page-form__title {
  position: relative;

  margin: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 15px;
  padding-left: 0;

  @include font-group-bold($size-36, $line-36);
  color: $basic-white;

  &::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;

    display: block;
    width: 214px;
    height: 5px;

    background-color: $dark-invert-color;
    border-radius: 4px;

    @media (min-width: $tablet-width) {
      width: 358px;
      height: 8px;

      bottom: -59px;
    }

    @media (min-width: $desktop-width) {
      bottom: -4px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-left: 35px;

    @include font-group-small($size-60, $line-60);
  }

  @media (min-width: $desktop-width) {
    margin-top: 69px;
    margin-left: 64px;
    padding-bottom: 0;
  }
}

.page-form__title-button {
  display: none;

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: -47px;
    right: 155px;

    display: block;
    width: 190px;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 13px;

    background-color: $special-light-color;
    border: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;

    &:hover {
      background-color: $extra-color;
      cursor: pointer;
    }

    &:active {
      padding-top: 15px;
      padding-bottom: 13px;

      background-color: $extra-light-color;
    }
  }
}

.page-form__title-button-text {
  @include font-group-medium($size-20, $line-18);
  color: $basic-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    letter-spacing: 2px;
  }

  @media (min-width: $desktop-width) {
    letter-spacing: 0;
  }
}

.page-form__title-button:active .page-form__title-button-text {
  color: $basic-color-fade;
}
