.page-footer {
  padding-top: 37px;
  padding-bottom: 17px;

  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    padding-top: 46px;
    padding-bottom: 32px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 47px;
    padding-bottom: 43px;
  }
}

.page-footer__social {
  display: flex;
  justify-content: flex-start;

  @media (min-width: $tablet-width) {
    // display: flex;
    flex-direction: row;
  }
}

.page-footer__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
