.page-body {
  min-width: 320px;

  font-family: "Blogger Sans", "Trebuchet MS", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $basic-text-color;

  background-color: $body-background;
}
