.page-header {
  position: relative;

  margin: 0;

  color: $basic-white;

  background-color: $header-background;
}

.page-header__toggle {
  color: $basic-white;
}

.page-header__toggle:active + .modal-menu {
  display: block;
}
