.page-header {
  position: relative;
  z-index: 100;

  margin: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 60px;
  padding-left: 0;

  color: $basic-white;

  background-color: $header-background;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    padding-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 11px;
  }
}

.page-header--nojs {
  padding-bottom: 0;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.page-header--modif {
  @media (min-width: $tablet-width) {
    padding-bottom: 134px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 24px;
  }
}
