.profile {
  position: relative;

  padding-top: 53px;
  padding-right: 0;
  padding-bottom: 38px;
  padding-left: 0;

  color: $basic-text-color;

  background-color: $profile-background-color;

  @media (min-width: $tablet-width) {
    padding-top: 74px;
    padding-bottom: 85px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 107px;
    padding-bottom: 187px;
  }
}

.profile__modal {
  padding-top: 34px;
  padding-bottom: 18px;

  outline: 5px solid rgba(0, 255, 0, 0.5);
  outline-offset: -5px;

  @media (min-width: $tablet-width) {
    padding-top: 54px;
    padding-bottom: 29px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 99px;

    padding-top: 54px;
    padding-bottom: 0;
  }
}
