.promo {
  position: relative;

  width: 100%;
  margin-bottom: 29px;

  background-image: url("../../img/global-back-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;

  @media (min-width: $tablet-width) {
    padding-bottom: 140px;
  }

  @media (min-width: $desktop-width) {
    z-index: 20;
    margin-bottom: 0;
    padding-bottom: 0;

    background-color: $basic-color;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
  }
}

.promo__main-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;

    padding-right: 83px;
    padding-left: 127px;
  }
}

.promo__title {
  display: block;
  margin: 0;
  margin-bottom: 12px;
  text-align: center;

  @include font-group-bold($size-36, $line-40);

  @media (min-width: $tablet-width) {
    margin-bottom: 36px;

    @include font-group-small($size-60, $line-70);
  }

  @media (min-width: $desktop-width) {
    margin-top: 95px;
    margin-bottom: 0;
    text-align: left;
  }
}

.promo__traveler {
  display: block;
  width: 192px;
  height: 255px;
  margin-right: 48px;
  margin-left: auto;

  background-image: url("../../img/traveler-mobile.png");

  @media (min-width: $tablet-width) {
    width: 372px;
    height: 451px;
    margin-right: 111px;

    background-image: url("../../img/traveler-tablet.png");
  }

  @media (min-width: $desktop-width) {
    width: 431px;
    height: 640px;
    margin-right: auto;
    margin-left: 81px;

    background-image: url("../../img/traveler-desktop.png");
  }
}

.promo__wrapper {
  display: block;
  padding-top: 46px;
  padding-right: 109px;
  padding-left: 50px;

  background-color: $basic-color;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 297px;
    z-index: 20;

    width: 340px;
    padding-top: 0;
    padding-right: 0;
    padding-left: 72px;

    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: 0;

    width: 264px;
    padding-top: 107px;
    padding-left: 0;
  }
}

.promo__wrapper-quote {
  display: block;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;

    @include font-group-small($size-28, $line-33);
  }
}

.promo__wrapper-cite {
  @include font-group-bold($size-16, line-22);

  @media (min-width: $tablet-width) {
    @include font-group-small($size-21, $line-25);
  }

  @media (min-width: $desktop-width) {
    @include font-group-small($size-21, $line-24);
  }
}
