.promo {
  position: relative;
  z-index: 300;

  width: 100%;
  margin-bottom: 30px;

  background-image: url("../../img/global-back-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/global-back-desktop@2x.png");
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    z-index: 20;
    margin-bottom: 0;
    padding-bottom: 124px;

    background-color: $basic-color;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
  }
}

.promo__main-wrapper {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;

    padding-right: 83px;
    padding-left: 127px;
  }
}

.promo__title {
  display: block;
  margin: 0;
  margin-bottom: 12px;
  text-align: center;

  @include font-group-bold($size-36, $line-40);

  @media (min-width: $tablet-width) {
    margin-bottom: 36px;

    @include font-group-small($size-60, $line-70);
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    margin-top: 95px;
    margin-bottom: 231px;
    text-align: left;
  }
}

.promo__traveler {
  display: block;
  width: 192px;
  height: 255px;
  margin-right: 48px;
  margin-left: auto;

  background-image: url("../../img/traveler-mobile.png");
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/traveler-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    width: 372px;
    height: 451px;
    margin-right: 111px;

    background-image: url("../../img/traveler-tablet.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/traveler-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    width: 431px;
    height: 640px;
    margin-right: auto;
    margin-left: 77px;

    background-image: url("../../img/traveler-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/traveler-desktop@2x.png");
    }
  }
}

.promo__wrapper {
  display: block;
  padding-top: 46px;
  padding-right: 109px;
  padding-left: 50px;

  background-color: $basic-color;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 297px;
    z-index: 20;

    width: 340px;
    padding-top: 0;
    padding-right: 0;
    padding-left: 72px;

    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: 0;

    width: 264px;
    padding-top: 107px;
    padding-left: 0;
  }
}

.promo__wrapper-quote {
  display: block;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;

    @include font-group-small($size-28, $line-33);
  }
}

.promo__wrapper-cite {
  @include font-group-bold($size-16, line-22);

  @media (min-width: $tablet-width) {
    @include font-group-small($size-21, $line-25);
  }

  @media (min-width: $desktop-width) {
    @include font-group-small($size-21, $line-24);
  }
}

.promo__list {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin: 0;
  padding: 0;

  border-radius: 10px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);

    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    z-index: 20;

    grid-template-columns: 345px repeat(2, 345px) 285px;
    grid-template-rows: 1fr;
    row-gap: 15px;
    width: 1320px;
    margin-top: -230px;
    margin-left: calc(50% - 660px);
  }
}

.promo__list-item {
  position: relative;

  display: flex;
  justify-content: space-between;
  margin-top: -10px;
  padding-top: 20px;
  padding-right: 21px;
  padding-bottom: 34px;
  padding-left: 24px;

  background-color: $light-invert-color;
  border-radius: 10px;

  &:first-of-type {
    margin-top: 0;

    background-color: $dark-invert-color;
  }

  &:nth-of-type(2n) {
    background-color: $invert-unique-color;
  }

  &:nth-of-type(3n) {
    background-color: $invert-color;
  }

  &:last-of-type {
    padding-bottom: 24px;

    background-color: $light-invert-color;
  }

  @media (min-width: $tablet-width) {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0;
    padding-top: 29px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 33px;

    border-radius: 0;

    &:first-of-type {
      padding-bottom: 23px;

      border-top-left-radius: 20px;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -25px;

        width: 25px;
        height: 100%;

        background-color: $dark-invert-color;
      }
    }

    &:nth-child(2n) {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    &:nth-child(3n) {
      padding-bottom: 22px;

      border-bottom-left-radius: 20px;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -25px;

        width: 25px;
        height: 100%;

        background-color: $invert-color;
      }
    }

    &:last-of-type {
      padding-bottom: 23px;

      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
    padding-top: 28px;
    padding-bottom: 31px;
    padding-right: 34px;

    border-radius: 20px;

    &:first-of-type {
      padding-right: 64px;
    }

    &:nth-of-type(2n) {
      margin-left: -30px;
      padding-right: 62px;
      padding-left: 30px;
    }

    &:nth-of-type(3n) {
      margin-left: -30px;
      padding-top: 27px;
      padding-right: 62px;
      padding-left: 30px;
    }

    &:last-of-type {
      padding-left: 30px;
      padding-right: 32px;

      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
  }
}

.promo__list-text {
  width: 150px;

  @include font-group-bold($size-18, $line-18);
  color: $basic-color;

  @media (min-width: $tablet-width) {
    width: 211px;

    @include font-group-small($size-24, $line-24);

    &:first-of-type {
      margin-bottom: 10px;
    }
  }

  @media (min-width: $desktop-width) {
    &:first-of-type {
      margin-bottom: 0;
    }
  }
}

.promo__list-number {
  @include font-group-bold($size-18, $line-18);
  color: $basic-white;

  @media (min-width: $tablet-width) {
    @include font-group-bold($size-30, $line-30);
  }

  @media (min-width: $desktop-width) {
    @include font-group-bold($size-24, $line-24);
  }
}
