.todo {
  color: $basic-color;
}

.todo__list {
  display: block;
  background-color: $dark-invert-color;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
