.todo {
  position: relative;

  padding-bottom: 39px;

  color: $basic-color;

  background-color: $basic-dark;

  @media (min-width: $tablet-width) {
    padding-bottom: 96px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}

.todo__list {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin: 0;
  padding: 0;

  background-image: $todo-gradient-modal;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);

    margin-top: -169px;

    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: -231px;
    left: 0;
    z-index: 20;

    grid-template-columns: repeat(4, 1fr);
    width: 1320px;
    margin-top: 0;
    margin-left: calc(50% - 660px);

    background-image: $todo-gradient-desktop;
  }
}

.todo__list-item {
  position: relative;

  display: flex;
  justify-content: space-between;
  margin-top: -10px;
  padding-top: 22px;
  padding-right: 21px;
  padding-bottom: 32px;
  padding-left: 24px;

  background-color: $light-invert-color;
  border-radius: 10px;

  &:first-of-type {
    margin-top: 0;

    background-color: $dark-invert-color;
  }

  &:nth-of-type(2n) {
    background-color: $invert-unique-color;
  }

  &:nth-of-type(3n) {
    background-color: $invert-color;
  }

  &:last-of-type {
    padding-bottom: 22px;

    background-color: $light-invert-color;
  }

  @media (min-width: $tablet-width) {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0;
    padding-top: 29px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 33px;

    border-radius: 0;

    &:first-of-type {
      padding-bottom: 22px;

      border-top-left-radius: 20px;
    }

    &:nth-child(2n) {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    &:nth-child(3n) {
      padding-bottom: 24px;

      border-bottom-left-radius: 20px;
    }

    &:last-of-type {
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
    padding-top: 28px;
    padding-bottom: 22px;
    padding-right: 34px;

    border-radius: 20px;

    &:nth-child(3n) {
      padding-bottom: 22px;
    }
  }
}

.todo__list-text {
  width: 150px;

  @include font-group-bold($size-18, $line-18);

  @media (min-width: $tablet-width) {
    width: 211px;

    @include font-group-small($size-24, $line-24);

    &:first-of-type {
      margin-bottom: 10px;
    }
  }
}

.todo__list-number {
  @include font-group-bold($size-18, $line-18);
  color: $basic-white;

  @media (min-width: $tablet-width) {
    @include font-group-bold($size-30, $line-30);
  }

  @media (min-width: $desktop-width) {
    @include font-group-bold($size-24, $line-24);
  }
}
