.user-card {
  position: relative;

  margin-bottom: 10px;
  padding-top: 14px;
  padding-right: 22px;
  padding-bottom: 23px;
  padding-left: 25px;

  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    margin-bottom: 39px;
    padding-top: 33px;
    padding-right: 25px;
    padding-bottom: 26px;
    padding-left: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 371px;
    margin-bottom: 30px;
    padding-top: 46px;
    padding-right: 43px;
    padding-bottom: 42px;
    padding-left: 54px;
  }
}
