.user-choice {
  position: relative;

  padding-top: 26px;
  padding-right: 25px;
  padding-bottom: 22px;
  padding-left: 25px;

  background-color: $basic-contrast-color;

  @media (min-width: $tablet-width) {
    padding-top: 37px;
    padding-right: 36px;
    padding-bottom: 37px;
    padding-left: 34px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    right: 0;

    width: 285px;
    padding-top: 46px;
    padding-right: 45px;
    padding-bottom: 48px;
    padding-left: 48px;
  }
}

.user-choice__title {
  margin-top: 0;
}
