.user-block {
  position: relative;

  display: block;
  width: 270px;
  margin-bottom: 8px;

  background-color: $basic-white;
  border-radius: 10px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    width: 285px;
    margin-bottom: 0;

    border-radius: 20px;
  }
}

.user-block__photo {
  position: relative;
  z-index: 0;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  @media (min-width: $tablet-width) {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}

.user-block__level-wrapper {
  position: absolute;
  top: 17px;
  left: 17px;

  display: flex;
  flex-direction: column;
  width: 60px;
  height: 60px;
  padding-top: 9px;

  background-color: $level-background;
  border: 4px solid $dark-invert-color;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    top: 22px;
    left: 22px;
  }

  @media (min-width: $desktop-width) {
    top: 21px;
  }
}

.user-block__level-number {
  position: relative;

  text-align: center;
  margin-bottom: 1px;

  @include font-group-bold($size-24, $line-24);

  &::before {
    position: absolute;
    content: "";
    top: 23px;
    left: 11px;

    width: 30px;
    height: 1px;

    background-color: $basic-white-fade;
  }
}

.user-block__level-text {
  text-align: center;

  @include font-group($size-14, $line-14);
}

.user-block__countries {
  position: relative;
  z-index: 10;

  display: flex;
  justify-content: center;
  width: auto;
  margin-top: -16px;
  margin-bottom: 11px;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -17px;
  }
}

.user-block__countries-item {
  margin-right: 20px;

  &:last-of-type {
    margin-right: 0;
  }
}

.user-block__countries-flag {
  position: relative;

  display: block;
  width: 35px;
  height: 25px;

  background-repeat: no-repeat;
  border-radius: 3px;

  &:hover::before {
    content: "";
    position: absolute;
    z-index: 50;
    top: 24px;
    left: -52px;

    width: 138px;
    height: 63px;

    background-repeat: no-repeat;
    background-position: top 0 center;
  }
}

.user-block__countries-flag--srilanka {
  background-image: url("../../img/user-flag-srilanka-mobile.jpg");

  &:hover::before {
    background-image: url("../../img/tooltip-srilanka.png");
  }
}

.user-block__countries-flag--thailand {
  background-image: url("../../img/user-flag-thailand-mobile.jpg");

  &:hover::before {
    background-image: url("../../img/tooltip-thailand.png");
  }
}

.user-block__countries-flag--seychelles {
  background-image: url("../../img/user-flag-seychelles-mobile.jpg");

  &:hover::before {
    background-image: url("../../img/tooltip-seychelles.png");
  }
}

.user-block__countries-flag--belgium {
  background-image: url("../../img/user-flag-belgium-mobile.jpg");

  &:hover::before {
    background-image: url("../../img/tooltip-belgium.png");
  }
}

.user-block__countries-flag--czech {
  background-image: url("../../img/user-flag-czech-mobile.jpg");

  &:hover::before {
    background-image: url("../../img/tooltip-czech.png");
  }
}

.user-block__title {
  position: relative;

  width: 250px;
  text-align: center;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 11px;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    margin-bottom: 19px;
  }
}

.user-block__title-marker {
  position: relative;

  @include font-group-bold($size-21, $line-21);
  color: $special-dark-color;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;

    @include font-group-small($size-24, $line-24);
  }

  &:hover {
    color: $special-dark-color-halffade;

    cursor: pointer;
  }

  &:active {
    color: $special-dark-color-fade;

    cursor: pointer;
  }

  &::before {
    content: "";
    position: absolute;

    width: 6px;
    height: 6px;

    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 8px;
      height: 8px;
    }
  }

  &--been::before {
    top: 12px;
    left: -17px;

    background-color: $marker-been-color;

    @media (min-width: $tablet-width) {
      left: -22px;
    }
  }

  &--been:hover::before {
    background-color: $marker-been-color-halffade;
  }

  &--been:active::before {
    background-color: $marker-been-color-fade;
  }

  &--online::before {
    top: 12px;
    left: -15px;

    background-color: $marker-online-color;

    @media (min-width: $tablet-width) {
      left: -21px;
    }
  }

  &--online:hover::before {
    background-color: $marker-online-color-halffade;
  }

  &--online:active::before {
    background-color: $marker-online-color-fade;
  }
}

.user-block__tags {
  display: block;
  width: 190px;
  margin-right: auto;
  margin-bottom: 14px;
  margin-left: auto;
  text-align: center;

  @include font-group($size-16, $line-18);
  font-weight: 500;
  color: $basic-text-color;

  border: none;
  resize: none;

  @media (min-width: $tablet-width) {
    width: 230px;
    margin-bottom: 25px;

    @include font-group($size-20, $line-23);
  }
}

.user-block__transports {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 120px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 21px;
  margin-left: auto;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 27px;
  }
}

.user-block__transports-icon {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;

  background-repeat: no-repeat;

  &:hover::before {
    content: "";
    position: absolute;
    z-index: 50;
    top: 24px;
    left: -76px;

    width: 170px;
    height: 63px;

    background-repeat: no-repeat;
    background-position: top 0 center;
  }

  &--plane {
    background-image: url("../../img/icons/icon_plane-mobile.svg");

    &:hover::before {
      background-image: url("../../img/tooltip-plane.png");
    }
  }

  &--bus {
    background-image: url("../../img/icons/icon_bus-mobile.svg");

    &:hover::before {
      background-image: url("../../img/tooltip-bus.png");
    }
  }

  &--bike {
    background-image: url("../../img/icons/icon_bike-mobile.svg");

    &:hover::before {
      background-image: url("../../img/tooltip-bike.png");
    }
  }

  &--walk {
    background-image: url("../../img/icons/icon_walk-mobile.svg");

    &:hover::before {
      background-image: url("../../img/tooltip-walk.png");
    }
  }
}

.user-block__transports-item--current .user-block__transports-icon--plane {
  background-image: url("../../img/icons/icon_plane-mobile-active.svg");
}

.user-block__transports-item--current .user-block__transports-icon--bus {
  background-image: url("../../img/icons/icon_bus-mobile-active.svg");
}

.user-block__transports-item--current .user-block__transports-icon--bike {
  background-image: url("../../img/icons/icon_bike-mobile-active.svg");
}

.user-block__transports-item--current .user-block__transports-icon--walk {
  background-image: url("../../img/icons/icon_walk-mobile-active.svg");
}
