$basic-white: #ffffff;
$basic-white-fade: rgb(100%, 100%, 100%, 0.3);
$basic-black: #000000;
$basic-color: #161c35;
$basic-color-fade: rgb(9%, 11%, 21%, 0.3);
$basic-dark: #192144;
$basic-dark-halffade: rgb(10%, 13%, 27%, 0.6);
$basic-dark-fade: rgb(10%, 13%, 27%, 0.3);
$body-background: #edeff6;
$alt-background: #182044;
$basic-text-color: #444444;
$basic-text-color-halffade: #a2a2a2;
$basic-text-color-fade: #c7c7c7;
$light-text-color: #e6e6e6;
$extra-dark-invert-color: #f26926;
$invert-unique-color: #ffa530;
$dark-invert-color: #ff8d30;
$dark-invert-color-fade: rgba(255, 141, 48, 0.3);
$invert-color: #ffbd30;
$light-invert-color: #ffd74b;
$light-invert-color-fade: rgb(100%, 84%, 29%, 0.3);
$icon-color: #121936;
$icon-color-fade: rgba(18, 25, 54, 0.3);
$profile-background-color: #e6e8f1;
$special-dark-color: #1d2e5b;
$special-dark-color-halffade: rgb(11%, 18%, 36%, 0.6);
$special-dark-color-fade: rgb(11%, 18%, 36%, 0.3);
$special-light-color: #dfe3f0;
$special-color: #d4d9eb;
$special-light-light-color: #e2e5f2;
$special-button-color: #132576;
$special-button-color-halffade: rgba(19, 37, 118, 0.7);
$special-button-color-fade: rgba(19, 37, 118, 0.3);
$extra-light-color: #f2f2f2;
$close-button-color: #cccccc;
$level-background: rgba(0, 0, 0, 0.6);
$marker-been-color: #f97676;
$marker-been-color-halffade: rgba(249, 118, 118, 0.6);
$marker-been-color-fade: rgba(249, 118, 118, 0.3);
$marker-online-color: #81e31e;
$marker-online-color-halffade: rgba(129, 227, 30, 0.6);
$marker-online-color-fade: rgba(129, 227, 30, 0.3);
$profile-border-color: #e1e3e9;
$profile-business-border-color: rgba(0, 0, 0, 0.05);
$profile-business-button-color: #f3f4f8;
$modal-shadow-color: rgba(29, 46, 91, 0.18);
$error-text-color: #ff0000;
$error-background-color: #ffefef;
$error-border-color: #f47e7e;
$todo-gradient-modal: linear-gradient(
  to bottom,
  #ff8d30 0%,
  #ff8d30 50%,
  #ffbd30 50%,
  #ffbd30 100%
);
$todo-gradient-desktop: linear-gradient(
  to right,
  #ff8d30 0%,
  #ff8d30 30%,
  #ffa530 30%,
  #ffa530 60%,
  #ffbd30 60%,
  #ffbd30 100%
);
$promo-background: linear-gradient(to bottom, #161c35 0%, #192144 100%);
$tablet-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
$line-14: 14px;
$line-16: 16px;
$line-18: 18px;
$line-20: 20px;
$line-21: 21px;
$line-22: 22px;
$line-23: 23px;
$line-24: 24px;
$line-25: 25px;
$line-28: 28px;
$line-30: 30px;
$line-32: 32px;
$line-33: 33px;
$line-34: 34px;
$line-35: 35px;
$line-40: 40px;
$line-45: 45px;
$line-70: 70px;
$line-71: 71px;
$size-14: 14px;
$size-16: 16px;
$size-17: 17px;
$size-18: 18px;
$size-20: 20px;
$size-21: 21px;
$size-22: 22px;
$size-24: 24px;
$size-28: 28px;
$size-30: 30px;
$size-36: 36px;
$size-45: 45px;
$size-60: 60px;
