$basic-white: #ffffff;
$basic-black: #000000;
$basic-color: #161c35;
$basic-dark: #192144;
$body-background: #edeff6;
$header-background: #182044;
$basic-text-color: #444444;
$todo-background-color: #ff8d30;
$profile-background-color: #e6e8f1;
$basic-contrast-color: #ffd74b;
$special-dark-color: #1d2e5b;
$special-light-color: #dfe3f0;
$special-color: #d4d9eb;
$special-light-light-color: #e2e5f2;
$tablet-width: 718px;
$desktop-width: 1350px;
