$basic-white: #ffffff;
$basic-white-fade: rgb(100%, 100%, 100%, 0.3);
$basic-black: #000000;
$basic-color: #161c35;
$basic-color-fade: rgb(9%, 11%, 21%, 0.3);
$basic-dark: #192144;
$basic-dark-halffade: rgb(10%, 13%, 27%, 0.6);
$basic-dark-fade: rgb(10%, 13%, 27%, 0.3);
$body-background: #edeff6;
$alt-background: #182044;
$basic-text-color: #444444;
$basic-text-color-fade: #e6e6e6;
$extra-dark-invert-color: #f26926;
$invert-unique-color: #ffa530;
$dark-invert-color: #ff8d30;
$invert-color: #ffbd30;
$light-invert-color: #ffd74b;
$light-invert-color-fade: rgb(100%, 84%, 29%, 0.3);
$icon-color: #121936;
$profile-background-color: #e6e8f1;
$special-dark-color: #1d2e5b;
$special-dark-color-fade: rgb(11%, 18%, 36%, 0.3);
$special-light-color: #dfe3f0;
$special-color: #d4d9eb;
$special-light-light-color: #e2e5f2;
$close-button-color: #cccccc;
$todo-gradient-modal: linear-gradient(
  to bottom,
  #ff8d30 0%,
  #ff8d30 50%,
  #ffbd30 50%,
  #ffbd30 100%
);
$todo-gradient-desktop: linear-gradient(
  to right,
  #ff8d30 0%,
  #ff8d30 30%,
  #ffa530 30%,
  #ffa530 60%,
  #ffbd30 60%,
  #ffbd30 100%
);
$promo-background: linear-gradient(to bottom, #161c35 0%, #192144 100%);
$tablet-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
$line-18: 18px;
$line-20: 20px;
$line-21: 21px;
$line-22: 22px;
$line-24: 24px;
$line-25: 25px;
$line-28: 28px;
$line-30: 30px;
$line-33: 33px;
$line-34: 34px;
$line-35: 35px;
$line-40: 40px;
$line-45: 45px;
$line-70: 70px;
$line-71: 71px;
$size-16: 16px;
$size-17: 17px;
$size-18: 18px;
$size-20: 20px;
$size-21: 21px;
$size-24: 24px;
$size-28: 28px;
$size-30: 30px;
$size-36: 36px;
$size-45: 45px;
$size-60: 60px;
