@import "global/global.scss";
@import "global/variables.scss";
@import "global/fonts.scss";
@import "blocks/page-body.scss";
@import "blocks/page-header.scss";
@import "blocks/modal-menu.scss";
@import "blocks/page-main.scss";
@import "blocks/countries.scss";
@import "blocks/profile.scss";
@import "blocks/travelers.scss";
@import "blocks/feedback.scss";
@import "blocks/map-block.scss";
@import "blocks/page-footer.scss";
@import "blocks/container.scss";
@import "blocks/page-form.scss";
@import "blocks/plans.scss";
@import "blocks/add-plan.scss";
@import "blocks/plan-form.scss";
@import "blocks/catalog.scss";
@import "blocks/filter-country.scss";
@import "blocks/user-choice.scss";
@import "blocks/user-card.scss";
@import "blocks/logo-wrapper";
@import "blocks/promo.scss";
@import "blocks/about.scss";
@import "blocks/user.scss";
@import "blocks/plan-item.scss";
@import "blocks/country.scss";
@import "blocks/catalog-table.scss";
@import "blocks/user-call.scss";
@import "blocks/logo.scss";
@import "blocks/social.scss";
@import "blocks/cards.scss";
@import "blocks/user-block.scss";
@import "blocks/step";
@import "blocks/calendar-table.scss";
@import "blocks/fun.scss";
@import "blocks/country-table.scss";
@import "blocks/level-range.scss";
@import "blocks/level-graph.scss";
