@import "global/global.scss";
@import "global/variables.scss";
@import "global/fonts.scss";
@import "blocks/page-body.scss";
@import "blocks/page-header.scss";
@import "blocks/modal-menu.scss";
@import "blocks/page-main.scss";
@import "blocks/todo.scss";
@import "blocks/countries.scss";
@import "blocks/profile.scss";
@import "blocks/travelers.scss";
@import "blocks/feedback.scss";
@import "blocks/map-block.scss";
@import "blocks/page-footer.scss";
@import "blocks/container.scss";
@import "blocks/page-form.scss";
@import "blocks/plans.scss";
@import "blocks/add-plan.scss";
@import "blocks/plan-form.scss";
@import "blocks/catalog.scss";
@import "blocks/filter-country.scss";
@import "blocks/user-choice.scss";
@import "blocks/user-card.scss";
